@charset "UTF-8";

.joinWrap{
	width: 506px;
	height: 800px;
	border: 1px solid #e8e8e8;
	margin: 0 auto;
	text-align: center;
	background-color: #FBE300;
	margin-top: 120px;
}
.inputBox{
	margin-top: 350px;
}
.inputId{
	border: 1px solid #e8e8e8;
	height: 52px;
	width: 373px;
}
.btnBox{
	margin-top: 40px;
}
.joinBtn{
	height: 40px;
	width: 60px;
}

